@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]:checked + label {
  @apply bg-black;
}

.drawer {
  position: fixed;
  top: -100%;
  transition: 1s;
}
.title_post:hover{
    opacity: 1;

}
